/* -------- Global -------- */
html {
	font-family:arial;
	scroll-behavior:smooth;
	background-color:white;
}	
body {
	background-image: url(assets/images/cover.png) top center no-repeat;
	background-size: none;
	background-attachment: fixed;
	margin:0;
	padding:0;
}
a:link {
	color:#FFFFFF;
	text-decoration:none;
}
a:visited {
	color:#808080;
}
a:hover {
	color:#000000;
}
.wrapper {
	max-width:960px;
	margin:0 auto;
}


/* -------- Header -------- */

.logo {
	margin-top:3%;
	margin-left:25%;
	margin-bottom: 10px;
}
#logo img {
	display:inline-block;
	width:75%;
	height:75%;
}
.wrapper {
	width: 360px;
	height: auto;
}
.socials {
	padding-right: 15px;
}
.toneden {
	align-items: center;
	margin-left: 140px;
	padding-top: 50px;
}
.player {
	align-items: center;
	margin-left: 140px;
	padding-top: 50px;
}

